<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>登录</title>

    <script src="/js/jquery/jquery-3.2.1.js"></script>

</head>
<body>

<div>
    <h2>欢迎登录Weblog</h2>
    <form method="post" action="/user/login" th:method="post" th:action="@{/user/login}" >
        <span id="tip"></span>
        <input type="text" id="input1" name="username" value="" onfocus="clearSpan(this)" required="required" placeholder="用户名.." autofocus/><br>
        <input type="password" id="input2" name="password" value="" onfocus="clearSpan(this)" required="required" placeholder="密码.."/><br>
        <input type="text" id="input3" name="checkcode" value="" required ><div>验证码</div>

        <button type="button" onclick="infoSubmit()">Login</button><br>
        <p>没账号?<a href="register.html" th:href="@{/register.html}" >点我注册吧</a></p>
    </form>
    <script>
        //清除校验消息
        function clearSpan(e){
            var span = $(e).next();
            span.text("");
            span.css("color","gray");
        }

        //校验表单
        function checkForm(){
            var s1 = $("#input1")[0].checkValidity();
            var s2 = $("#input2")[0].checkValidity();

            if(s1 && s2)
                return true;

            $("#tip").text("账号或密码不能为空");
            $("#tip").css("color","red");
            return false;
        }

        //提交表单
        function infoSubmit(){
            if(checkForm()){
                $.ajax({
                    url: "user/login",
                    type: "post",
                    data: $("form").serialize(),
                    success: function(data){
                        if (data.code==2000)
                            location.href=data.data.toUrl;
                        else
                            location.reload();
                    }
                });
            }
        }
    </script>
</div>


</body>
</html>
