<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <script src="/js/jquery/jquery-3.2.1.js"></script>

</head>
<body>

<h1>用户注册</h1>

<form method="post" action="/user/register" th:method="post" th:action="@{/user/register}" >
    <label>用户名:</label>
    <input type="text" id="username" name="username" value="" minlength="4" maxlength="20" onblur="cusername(this)" onfocus="clearSpan(this)" required="required" >
    <span></span><br>

    <label>密码:</label>
    <input type="password" id="password" name="password" value="" minlength="4" maxlength="10" onblur="cpassword(this)" onfocus="clearSpan(this)" required="required" >
    <span></span><br>

    <label>确认密码:</label>
    <input type="password" id="repassword" name="" value="" onfocus="clearSpan(this)" onblur="crepassword()" required="required" >
    <span></span><br>

    <label>手机号/邮箱:</label>
    <input type="text" id="call" name="call" value="" onfocus="clearSpan(this)" onblur="ccall(this)" pattern="(^[\w.\-]+@(?:[a-z0-9]+(?:-[a-z0-9]+)*\.)+[a-z]{2,3}$)|(^1[3|4|5|8]\d{9}$)" required="required">
    <span></span><br>

    <label>验证码:</label>
    <input type="number" id="code" name="code" value="" onfocus="clearSpan(this)" onblur="ccode(this)" required="required">
    <span></span><br>

    <a href="javascript:void(0)" onclick="infoSubmit()">注册</a><br>
</form>
<script>

    //清除校验消息
    function clearSpan(e){
        var span = $(e).next();
        span.text("");
        span.css("color","gray");
    }
    //验证用户名
    function cusername(e){
        var span = $(e).next();
        var state = true;
        if(!e.checkValidity()){
            span.text("用户名必须4-20个字符(如a-z_A-Z)");
            span.css("color","red");
            state = false;
        }else{
            var val = $(e).val();
            $.ajax({
                async: false,
                url: "user/checkname",
                type: "get",
                data: {username:val},
                success: function(data){
                    if(data.code!=2000){
                        span.text(data.msg);
                        span.css("color","red");
                        state = false;
                    }
                },
                dataType: "json"
            });

        }
        return state;
    }
    //验证密码
    function cpassword(e){
        if(!e.checkValidity()){
            var span = $(e).next();
            span.text("密码必须4-10个字符");
            span.css("color","red");
            return false;
        }
        return true;
    }
    //验证重复密码
    function crepassword(){
        if($("#repassword").val()!=$("#password").val()){
            var span = $("#repassword").next();
            span.text("两次密码不一致");
            span.css("color","red");
            return false;
        }
        return true;
    }

    //校验 验证码
    function ccode(e){
        if(!e.checkValidity()){
            var span = $(e).next();
            span.text("验证码不能为空");
            span.css("color","red");
            return false;
        }
        return true;
    }

    //验证手机/邮箱
    function ccall(e){
        var span = $(e).next();
        var state = true;
        if(!e.checkValidity()){
            //验证格式
            span.text("手机号或邮箱格式不正确");
            span.css("color","red");
            state = false;
        }else{
            //验证是否已存在
            var val = $(e).val();

            $.ajax({
                async: false,
                url: "user/checkcall",
                type: "get",
                data: {call:val},
                success: function(data){
                    if(data.code!=2000){
                        span.text(data.msg);
                        span.css("color","red");
                        state = false;
                    }
                },
                dataType: "json"
            });
        }
        return state;
    }

    //验证表单
    function checkForm(){
        if(!cusername($("#username")[0]))
            return false;
        if(!cpassword($("#password")[0]))
            return false;
        if(!crepassword())
            return false;
        if(!ccall($("#call")[0]))
            return false;
        if(!ccode($("#code")[0]))
            return false;
        return true;
    }

    //提交表单
    function infoSubmit(){
        if(checkForm()){
            $.ajax({
                url: "user/register",
                type: "post",
                data: $("form").serialize(),
                success: function(data){
                    if (data.code==2000)
                        location.href=data.data.toUrl;
                    else
                        location.reload();
                }
            });
        }
    }
</script>

</body>
</html>